<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT_LIGHT_THEME</key>
	<dict>
		<key>ALL</key>
		<dict>
			<key>SIMPLE</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>darkGrayColor</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>NO_HEADER</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>darkGrayColor</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>INFO</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>purpleColor</string>
			</dict>
			<key>HIGHLIGHT</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>greenColor</string>
			</dict>
			<key>WARNING</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>yellowColor</string>
			</dict>
			<key>ERROR</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>redColor</string>
			</dict>
		</dict>
	</dict>
	<key>DEFAULT_DARK_THEME</key>
	<dict>
		<key>ALL</key>
		<dict>
			<key>SIMPLE</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>20 235 0</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>NO_HEADER</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>20 235 0</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>INFO</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>218 167 250</string>
			</dict>
			<key>HIGHLIGHT</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>greenColor</string>
			</dict>
			<key>WARNING</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>yellowColor</string>
			</dict>
			<key>ERROR</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>redColor</string>
			</dict>
		</dict>
	</dict>
	<key>SAMPLE--SAME-LEVELS-ALL-LOGS</key>
	<dict>
		<key>ALL</key>
		<dict>
			<key>SIMPLE</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>20 235 0</string>
				<key>BGD_COLOR</key>
				<string>blackColor</string>
			</dict>
			<key>NO_HEADER</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>20 235 0</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>INFO</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>218 167 250</string>
			</dict>
			<key>HIGHLIGHT</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>greenColor</string>
			</dict>
			<key>WARNING</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>yellowColor</string>
			</dict>
			<key>ERROR</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>redColor</string>
			</dict>
		</dict>
	</dict>
	<key>SAMPLE--DIFFERENT-LEVELS-DIFFERENT-LOGS</key>
	<dict>
		<key>XLOG</key>
		<dict>
			<key>SIMPLE</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>20 235 0</string>
				<key>BGD_COLOR</key>
				<string>darkGrayColor</string>
			</dict>
			<key>NO_HEADER</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>redColor</string>
				<key>BGD_COLOR</key>
				<string>20 235 0</string>
			</dict>
			<key>INFO</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>purpleColor</string>
			</dict>
			<key>HIGHLIGHT</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>greenColor</string>
			</dict>
			<key>WARNING</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>20 235 0</string>
			</dict>
			<key>ERROR</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>redColor</string>
			</dict>
		</dict>
		<key>DLOG</key>
		<dict>
			<key>SIMPLE</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>darkGrayColor</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>NO_HEADER</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>redColor</string>
			</dict>
			<key>INFO</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>purpleColor</string>
			</dict>
			<key>HIGHLIGHT</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>greenColor</string>
			</dict>
			<key>WARNING</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>yellowColor</string>
			</dict>
			<key>ERROR</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>redColor</string>
			</dict>
		</dict>
		<key>DVLOG</key>
		<dict>
			<key>SIMPLE</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>darkGrayColor</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>NO_HEADER</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>darkGrayColor</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>INFO</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>purpleColor</string>
			</dict>
			<key>HIGHLIGHT</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>greenColor</string>
			</dict>
			<key>WARNING</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>yellowColor</string>
			</dict>
			<key>ERROR</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>redColor</string>
			</dict>
		</dict>
		<key>DDLOG</key>
		<dict>
			<key>SIMPLE</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>darkGrayColor</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>NO_HEADER</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>darkGrayColor</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>INFO</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>purpleColor</string>
			</dict>
			<key>HIGHLIGHT</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>greenColor</string>
			</dict>
			<key>WARNING</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>yellowColor</string>
			</dict>
			<key>ERROR</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>redColor</string>
			</dict>
		</dict>
		<key>OLOG</key>
		<dict>
			<key>SIMPLE</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>darkGrayColor</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>NO_HEADER</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>darkGrayColor</string>
				<key>BGD_COLOR</key>
				<string></string>
			</dict>
			<key>INFO</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>purpleColor</string>
			</dict>
			<key>HIGHLIGHT</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>greenColor</string>
			</dict>
			<key>WARNING</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>blackColor</string>
				<key>BGD_COLOR</key>
				<string>yellowColor</string>
			</dict>
			<key>ERROR</key>
			<dict>
				<key>TXT_COLOR</key>
				<string>whiteColor</string>
				<key>BGD_COLOR</key>
				<string>redColor</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
